
@if(ViewBag.UserEmail == null)
{
    <li>
        <a asp-controller="Login" asp-action="Login">Login</a>
    </li>
} else {
    <li>
       <a asp-action="Profile" asp-controller="Home" asp-route-email="@ViewBag.UserEmail" title="Manage">Hello @ViewBag.UserEmail</a>
        <a href="/cartlist"><i class="fa fa-shopping-cart"></i> Cart</a>
    </li>
    <li>
        <a asp-controller="Login" asp-action="Logout">Logout</a>
    </li>
}